# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad

# CocoaPods
Pods/
node_modules/

# Secrets and Credentials
*service-account.json
*serviceAccount.json
*.p12
*.plist
!Adventure-Streak-Info.plist
!GoogleService-Info.plist

# OS junk
.DS_Store

# Backend Admin
backend-admin/node_modules/
backend-admin/secrets/
*.log
*.bak
